﻿* {
    margin: 0px;
    padding:0px;
}
body
{
    font-family:'HelveticNeue', Arial, sans-serif;
    font-size:1em;
}
.clear{
    clear:both;
}
h2{
    text-align:center;
    margin:58px 0;
}
a{
    text-decoration:none;
}
.wrapper{
    max-width:1274px;
    overflow:hidden;
    margin:0 auto;
}
.mob_menu_link{
    display:none;
}
#toggle{
    display:none;
}
.log_in{
    display:none;
}
.underline {
    margin:0 38px;
    border-bottom: 1px solid #d6d6d6;   
}

/*#region header*/
.header {
    background: #454545;
    overflow: hidden;
    line-height:38px;
    vertical-align:middle;
}
.header_menu {
    float: right;
    margin:12px 38px;
}
.header_menu_content ul {
    list-style: none;
}
.header_menu_content ul li{
    float:left;
}
.header_menu_content ul li a {
    font-weight: bold;
    font-family: HelveticNeue, Arial, sans-serif;
    font-size: 1em;
    color:white;
    padding:8px;
    line-height:15px;
}
.header_menu_content ul li a:hover{
    cursor:pointer;
    text-decoration:underline;
}

.header_osn_content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px 38px;
}
.mob_menu{
    display:none;
}
.logo {
    background: url(../img/logo.png) no-repeat center center;
    width: 100px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    line-height: 46px;
}
.header_search {
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px;
    line-height: 46px;
}
.header_search input {
    border: 1px solid #bdbdbd;
    border-radius: 44px;
    color: #000;
    background: #fff;
    text-align: center;
    width: 832px;
    height: 44px;
}
.header_search input:focus {
    text-align: left;
}
.header_shop {
    display: inline-block;
    line-height:46px;
    vertical-align: middle;
}
.header_shop_cart {
    background: url(../img/cart.png) no-repeat center center;
    width: 32px;
    height: 46px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    line-height: 46px;
}
.header_shop a {
    color: #cc0000;
    font-weight: bold;
    display: inline-block;
    line-height: 46px;
    vertical-align: middle;
    text-decoration:none;
}

/*#endregion header*/



/*#region menu*/
.mob_header_menu{
    display:none;
}
.menu {
    border-top: 1px solid #dbdbdb;
    text-align: center;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline-block;
    line-height:54px;
    vertical-align: 0 50%;
}
.menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 19px;
}
.menu ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menu_underline {
    margin:0px 38px;
    border-bottom: 1px dashed #dbdbdb;
    }


/*#endregion menu*/



/*#region slider*/
.mob_baner{
    display:none;
}
.slider {
    max-width:1200px;
    position: relative;
    margin: 20px auto;
    overflow: auto;
}
.slide img{
    width:100%;
}
.prev, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:#fff;
    font-weight:bold;
    font-size:16px;
    transition:0.6s ease;
}
.next{
    right:0;
}
.prev:hover, .next:hover {
    background: #454545;
} 
.active {
    background: #9c9c9c;
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade{
    from {
        opacity: .4
        }
    to {
        opacity: 1
        }
    }
    /*#endregion slider*/



/*#region easy*/
.easy_content {
    text-align: center;
    margin:38px 0;
}
.easy_content h4 {
    line-height: 50px;
    vertical-align:top;
    display: inline-block;
}
.easy_content_one{
    display:inline-block;
}
.easy_content_one ul li {
    display: inline-block;
    padding: 0 40px;
}
.easy_content_one img {
    display: inline-block;
    vertical-align:top;
    padding-right:12px;
}
.easy_content_one p {
    display: inline-block;
    line-height: 50px;
    vertical-align:top;
}

/*#endregion easy*/

/*#region products*/
.products_content{
    text-align:center;
}
.products_content li {
    list-style: none;
    display: inline-block;
    padding:0 2%;
    margin-bottom:58px;
    width:24%;
    box-sizing:border-box;
}
.products_content p {
    color: #666666;
    text-align:center;
    padding-bottom:26px;
}
/*#endregion products*/



/*#region memory*/
.partner_contents {
    margin: 34px 38px;
    text-align: center;
}
.partner_content li {
    display: inline-block;
    border-right: 1px dashed #d6d6d6;
    list-style: none;
    padding: 0 2%;
    width: 33%;
    box-sizing: border-box;
}
.partner_content p {
    color: #666666;
    text-align: center;
    padding-bottom: 26px;
}
.partner_content li:last-child {
    border: none;
}
/*#endregion memory*/


/*#region online*/
.online {
    overflow: hidden;
}
.online_content {
    width: 70%;
    margin: 48px 38px;
    border-right: 1px solid #d6d6d6;
    float: left;
    box-sizing: border-box;
}
.online_content_text{
    max-width:820px;
    padding-right:48px;   
}
.online_content h3{
    margin-bottom:28px;
}
.online_content_text p {
    color: #746666;
    margin-bottom: 34px;
    word-wrap: break-word;
}
.online_content_text p a {
    text-decoration: underline;
    cursor: pointer;
    color: #746666;
}
/*#endregion online*/


/*#region last_design*/
.design_content {
    width: 20%;
    margin: 48px 38px 0 0;
    float: right;
    box-sizing: border-box;
}
.design_content h4 {
    color: #848484;
    font-weight: bold;
    text-align: center;
}
.design_content p {
    max-width:254px;
    margin-top:20px;
    font-size: 0.8em;
    text-align: center;
    word-wrap: break-word;
}
.design_content img {
    margin: 20px 2%;       
}
/*#endregion last_design*/


/*#region footer*/
.footer {
    margin:0 38px;
}
.footer_menu{
    text-align:center;
}
.footer_menu ul {
    list-style: none;
}
.footer_menu ul li {
    display: inline-block;
    padding: 0 11px;
    line-height: 50px;
    vertical-align: middle;
}
.footer_menu ul li select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background:url(../img/square.jpg) no-repeat;
    background-position: right;
    cursor: pointer;
    padding: 0 20px;
}
.footer_menu ul li::-ms-expand {
    display: none;
}
.copyright {
    text-align: center;
    font-size: 0.7em;
    color: #494949;
    margin:14px 0;
}
.footer_logo {
    background: url(../img/footer_logo.png) no-repeat center center;
    width: 29px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 22px;
}
/*#endregion footer*/

@media only screen and (max-width:1290px) {
    .header_search input {
        width:632px;
    }
    .menu ul li a{
        padding:12px;
    }
}



@media only screen and (max-width:992px) {  
    .header_search input {
        display:none;
    }
    .menu ul li a {
        padding: 5px;
    }
     .easy_content_one ul li{
        display:block;
        margin:0 auto;
    }
    .products_content li {
        padding: 0 2%;
        margin-bottom: 58px;
        width: 33%;
        box-sizing: border-box;
    }
}



    @media only screen and (max-width:566px) {
        html {
            -webkit-text-size-adjust: none;
        }
        .underline {
            margin: 0;
            border-bottom: 1px solid #d6d6d6;
        }
        h2, h3 {
            margin: 0;
            padding: 0;
        }
        .wrapper {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .header_menu {
            display: none;
        }
        .header_osn_content {
            margin: 10px;
        }
        label {
            display: block;
            cursor: pointer;
            margin: 0 18px;
            color: #cc0000;
            font-size: 30px;
            line-height: 46px;
        }
        .menu {
            display: none;
        }
        .mob_menu_link {
            display: inline-block;
            color: #cc0000;
            vertical-align: middle;
            line-height: 46px;
            border-right: 1px solid #d6d6d6;
        }
        #toggle:checked + .mob_menu{
            display:block;
            left:0;
        }
        .mob_menu {
            display: block;
            background: #fff;
            text-align: left;
            width: 80%;
            height: 100%;
            display: none;
            position: absolute;
            bottom: 0;
            left: -100%;
            transition: 0.3s width ease;
            top: 68px;
            overflow: hidden;   
        }
        .mob_menu ul{
            list-style:none;
        }
        .mob_menu ul li {
            display: block;
            padding: 10px;
            margin: 0 20px;
        }
        .mob_menu ul li a{
            color:#000;
        }
        .logo {
            margin-left: -250px;
        }
        .header_search {
            display: none;
        }
        .header_shop a{
            display:none;
         }
        .log_in{
            display:inline-block;
            background:url(../img/log.png) no-repeat center center;
            width:34px;
            height:46px;
            vertical-align:middle;
            line-height:46px;
        }       
        .menu_underline {
            display: none;
        }
        .mob_header_menu {
            display: block;
            float: right;
            padding: 12px;
            margin-right: 10px;
        }
        .mob_header_menu li {
            display: inline-block;
            padding: 10px;
        }
        .mob_header_menu a {
            font-weight: bold;
            text-decoration: none;
            color: #000;
        }
        .slider {
            display: none;
        }
        .mob_baner {
            display: block;
            margin: 0 auto;
            overflow: hidden;
            background:url(../img/mob_slider.jpg) no-repeat center center;
            width:546px;
            height:457px;
        }
        .mob_baner_text {
            width: 100%;
            color: #000;
            margin: 0 auto;
        }
        .mob_baner_text h2 {
            margin-top: 36px;
        }
        .mob_baner_text h1, h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .mob_button {
            text-align: center;
            width: 15%;
            background: #cc0001;
            color: #fff;
            margin: 0 auto;
            padding: 10px 26px;
            border-radius: 5%;
        }
        .mob_button:hover {
            background: #9c0101;
            cursor: pointer;
        }
        .baner_button {
            display: none;
        }
        .easy_content {
            display: none;
        }
        .products_content {
            margin: 0px 8px;
            text-align: left;
        }
        .products {
            margin-top: 58px;
        }
        .products_content li {
            padding: 10px 3%;
            width: 48%;
            box-sizing: border-box;
        }
        .products_content li img {
            max-width: 100%;
        }
        .partner_contents {
            display: none;
        }
        .online_content {
            border: none;
            margin: 0 28px 0 20px;
            width: 100%;
            display: block;
        }
        .online_content h3 {
            margin-top: 48px;
        }
        .design_content {
            display: block;
            width: 100%;
            margin: 0 auto;
            float: none;
        }
        .design_content p {
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .design_content img {
            display: block;
            margin: 0 auto;
            margin-bottom: 85px;
        }
        .footer {
            margin: 0 8px;
        }
        .footer_menu ul li {
            padding: 0 4px;
        }
        .footer_menu ul li select {
            padding: 0 20px;
        }
    }